<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="WIN-VGHSMSSSOLJ\SQLEXPRESS_NewAgeConnection" connectionString="XpoProvider=MSSqlServer;data source=WIN-VGHSMSSSOLJ\SQLEXPRESS;integrated security=SSPI;initial catalog=NewAge" />
    </connectionStrings>
</configuration>