<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <remove name="sqlLoggerConnectionString" />
    <add name="sqlLoggerConnectionString" connectionString="Server=192.168.0.20\SQLEXPRESS;Database=NewAgeDiagnostics;User Id=AMP;Password=Newage1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="es-co" uiCulture="es"/>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="100000000" enable="true"   executionTimeout="60"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILoggerService"
                closeTimeout="00:30:00"
                openTimeout="00:30:00"
                receiveTimeout="00:30:00"
                sendTimeout="00:30:00"
                bypassProxyOnLocal="false"
                transactionFlow="false"
                hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="100000000"
                maxReceivedMessageSize="100000000"
                messageEncoding="Text"
                textEncoding="utf-8"
                useDefaultWebProxy="true"
                allowCookies="false">
          <readerQuotas maxDepth="100000000"
                        maxStringContentLength="100000000"
                        maxArrayLength="100000000"
                        maxBytesPerRead="100000000"
                        maxNameTableCharCount="100000000"/>
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewAge.Logger.Service.LoggerServiceBehavior">
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100" />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="1000000"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="100000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewAge.Logger.Service.LoggerServiceBehavior" name="NewAge.Logger.Service.LoggerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoggerService" contract="NewAge.Logger.Service.ILoggerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <diagnostics performanceCounters="All" />
  </system.serviceModel>
</configuration>
