@using System.Globalization
@using System.Threading
@{
    Layout = null; 
    Thread.CurrentThread.CurrentCulture = new CultureInfo("es-CO");
    string UrlHost = Model.UrlHost; 
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Envío de contraseña</title>
</head>
<body>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f0f0f0" style="border-bottom:1px #2d197c solid; padding:15px 0;">
                                <tr>
                                    <td align="left"><img src="images/apoyos-financieros-logo.png" width="150" height="57" alt="Apoyos Financieros" style="margin-left:20px; display:block;" /></td>
                                    <td>&nbsp;</td>
                                    <td align="right"><img src="images/apoyautos-logo.png" width="200" height="52" alt="Apoyautos" style="margin-right:20px; display:block;" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-family:Verdana, Geneva, sans-serif; font-size:15px; color:#4d4d4d; margin:30px 20px 15px;"> Bienvenido/a <span style="color:#2d197c; font-weight:bold;">@(Model.UserName)</span>.</p>
                            <p style="font-family:Verdana, Geneva, sans-serif; font-size:15px; color:#4d4d4d; margin:0 20px 15px;">La contraseña para que pueda ingresar a nuestra página web es:</p>
                            <p style="font-family:Verdana, Geneva, sans-serif; color:#2d197c; font-weight:bold; display:block; font-size:20px; margin:0 20px 15px;">@(Model.Password)</p>
                            <p style="font-family:Verdana, Geneva, sans-serif; font-size:15px; color:#4d4d4d; margin:0 20px 15px;">
                                Para ir a la página web haga 
                                <a href="@(UrlHost)" style="color:#2d197c; text-decoration:underline; font-style:italic;">clic aquí</a> 
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
