<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Service Name -->
    <add key="ServiceName" value="NewAge Local" />
    <!-- BI keys -->
    <add key="OLAP.ConnectionString" value="Provider=MSOLAP;Data Source=http://190.147.102.24:8895/OLAP/msmdpump.dll; Initial Catalog=ASProject;Cube Name=dsvASProject;"/>
    <!-- Email keys -->
    <add key="MailEnabled" value="1"/>
    <add key="Mail.Smtp" value="smtpout.secureserver.net"/>
    <add key="Mail.Recipient" value="info@amp-tg.com"/>
    <add key="Mail.Sender" value="info@amp-tg.com"/>
    <add key="Mail.PasswordSender" value="Clara0525"/>
    <add key="Mail.LogAndEmailExceptions" value="true"/>
    <!-- Logger common errors (Does not send email for them): Semicolon separated strings  -->
    <add key="NewAge.Exceptions.CommonErrors" value="favicon.ico"/>
    <!--QS Crypto Key -->
    <add key="QSCryptoKey" value="MeQTuwwS"/>
    <!--AES Crypto Key -->
    <add key="CryptoKey" value="MQT26R7ZnbejCNO/GhRd0AnSkPPJuA+8WgbxcWek8uw="/>
    <!-- Enviroment -->
    <add key="Environment.Type" value="2"/>
    <add key="Environment.Name" value="Remoto" />
    <add key="Environment.WinApp.ProductKey" value="16D0907B-9513-428D-ACC9-6CD75DADCE1D" />
    <!-- Server Configuration -->
    <add key="Server.Name" value="WIN-VGHSMSSSOLJ" />
    <add key="Server.DB.Connection" value="Server=192.168.0.20\SQLEXPRESS;Database=NewAge;User Id=AMP;Password=Newage1234" />
    <!-- Paths and files names -->
    <add key="Project.Name" value="NEW AGE"/>
    <add key="Project.Path" value=".\"/>
    <add key="Files.Path" value="Files\{0}\"/>
    <add key="Files.Binary.Extension" value=".bin"/>
    <add key="Files.Configuration.Path" value="Config"/>
    <add key="Files.Languages.Path" value="Resources\{0}"/>
    <add key="Files.HelpDesk.Path" value="Files\Help\{0}\HelpDesk.chm"/>
    <!-- Menus -->
    <add key="Menus.Files.Path" value="Files\Menus\Menus.xml"/>
    <!-- Pagging -->
    <add key="Pagging.Document.PageSize.Main" value="20"/>
    <add key="Pagging.Master.PageSize.Main" value="20"/>
    <add key="Pagging.Master.PageSize.Modal" value="20"/>
    <!-- Version management -->
    <add key="Files.Configuration.Version.Format" value="{0}_v"/>
    <add key="Files.Configuration.Languages.Format" value="Languages_v_{0}"/>
    <!-- loading messages -->
    <add key="Loading.BaseController" value="Cargando el BaseController"/>
    <add key="Loading.AdministrationModel.Config" value="Cargando la configuración del AdministrationModel.Config"/>
    <add key="Loading.LoadMACVerification" value="Verificando Permisos de máquina"/>
    <add key="Loading.LoadMemoryData" value="Iniciando carga en memoria"/>
    <add key="Loading.LoadMemoryData.Control_GetAll" value="Consultando versiones en el servidor"/>
    <add key="Loading.LoadMemoryData.Program" value="Verificando version del programa"/>
    <add key="Loading.LoadMemoryData.Program.Local" value="Cargando version local"/>
    <add key="Loading.LoadMemoryData.DefaultLanguage" value="Cargando idioma por defecto"/>
    <add key="Loading.LoadMemoryData.Tables" value="Cargando lista de tablas del sistema"/>
    <add key="Loading.LoadMemoryData.Masters" value="Cargando lista de maestras del sistema"/>
    <add key="Loading.CheckUpdates.Languages" value="Verificando actualización de Idiomas"/>
    <add key="Loading.CheckUpdates.Modules" value="Verificando actualización de Modulos"/>
    <add key="Loading.AdministrationModel.Config" value="Cargando la configuración del AdministrationModel.Config"/>
    <add key="Loading.BaseController" value="Cargando el BaseController"/>
    <!-- Language Base strings -->
    <add key="ERR_CFG_0000" value="El archivo de configuración de la aplicación no existe "/>
    <add key="ERR_CFG_0001" value="La llave {0} no existe en el archivo de configuración "/>
    <add key="ERR_CFG_0002" value="(version de programa) no encontrada en la tabla de control "/>
    <add key="ERR_CFG_0003" value="Archivo de configuración sin llave de version del programa "/>
    <add key="ERR_CFG_0004" value="Archivo de configuración sin llave de idioma por defecto "/>
    <add key="ERR_CFG_0005" value="(modulos activos) no encontrada en la tabla de control "/>
    <add key="ERR_CFG_0006" value="Archivo de configuración sin llave de version del idioma "/>
    <add key="ERR_CFG_0007" value="No se devolvio versión del idioma actual "/>
    <add key="ERR_CFG_0008" value="No pudo ser encontrada la llave del idioma seleccionado en el archivo de configuración "/>
    <add key="ERR_CFG_0009" value="No pudo ser encontrada la llave de version de modulos en el archivo de configuración "/>
    <add key="ERR_CFG_0010" value="No fue posible cargar la versión de {0} "/>
    <add key="ERR_CFG_0011" value="La maquina, mediante la cual esta intentando acceder, no se encuentra registrada "/>
    <add key="ERR_SYS_0024" value="Error del sistema, por favor reinicie los servicios "/>
    <add key="ERR_SQL_0005" value="No hay conexión con la base de datos revise, el archivo de configuración del servicio y/o si existe el servidor "/>
    <add key="ERR_DIR_0001" value="El directorio {0} no existe "/>
    <add key="ERR_FIL_0002" value="El archivo {0} no existe "/>
    <add key="ERR_UAE_0003" value="No esta autorizado para acceder a la carpeta {0}, Inicie la aplicación como administrador "/>
    <add key="ERR_DEL_0001" value="El registro {0} no puede ser eliminado"/>
    <add key="ERR_DAT_1025" value="No se encontro la llave {0} en la tabla de control"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!--Logger-->
        <binding name="WSHttpBinding_ILoggerService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Reportes-->
        <binding name="WSHttpBinding_IReportesService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Activos-->
        <binding name="WSHttpBinding_IActivosService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--App-->
        <binding name="WSHttpBinding_IAppService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Master-->
        <binding name="WSHttpBinding_IMasterService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Cartera-->
        <binding name="WSHttpBinding_ICarteraService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Contabilidad-->
        <binding name="WSHttpBinding_IContabilidadService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--CxP-->
        <binding name="WSHttpBinding_ICFTService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Global-->
        <binding name="WSHttpBinding_IGlobalService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Inventarios-->
        <binding name="WSHttpBinding_IInventariosService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Nomina-->
        <binding name="WSHttpBinding_INominaService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Proveedores-->
        <binding name="WSHttpBinding_IProveedoresService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <!--Op Conjuntas-->
        <binding name="WSHttpBinding_IOpConjuntasService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="100000000" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="100000000" maxStringContentLength="100000000" maxArrayLength="100000000" maxBytesPerRead="100000000" maxNameTableCharCount="100000000" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--Logger-->
      <endpoint address="http://192.168.0.20:2550/LoggersService/LoggerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoggerService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Logger.Service.ILoggerService" name="WSHttpBinding_ILoggerService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Reportes-->
      <endpoint address="http://192.168.0.20:2550/ReportesService/ReportesService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportesService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ReportesService.IReportesService" name="WSHttpBinding_IReportesService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Master-->
      <endpoint address="http://192.168.0.20:2550/MasterService/MasterService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMasterService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.MasterService.IMasterService" name="WSHttpBinding_IMasterService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--App-->
      <endpoint address="http://192.168.0.20:2550/AppService/AppService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAppService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.AppService.IAppService" name="WSHttpBinding_IAppService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Global-->
      <endpoint address="http://192.168.0.20:2550/GlobalService/GlobalService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGlobalService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.GlobalService.IGlobalService" name="WSHttpBinding_IGlobalService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Activos-->
      <endpoint address="http://192.168.0.20:2550/ActivosService/ActivosService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActivosService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ActivosService.IActivosService" name="WSHttpBinding_IActivosService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Cartera-->
      <endpoint address="http://192.168.0.20:2550/CarteraService/CarteraService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICarteraService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.CarteraService.ICarteraService" name="WSHttpBinding_ICarteraService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Contabilidad-->
      <endpoint address="http://192.168.0.20:2550/ContabilidadService/ContabilidadService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContabilidadService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ContabilidadService.IContabilidadService" name="WSHttpBinding_IContabilidadService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--CxP-->
      <endpoint address="http://192.168.0.20:2550/CFTService/CFTService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICFTService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.CFTService.ICFTService" name="WSHttpBinding_ICFTService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Inventarios-->
      <endpoint address="http://192.168.0.20:2550/InventariosService/InventariosService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInventariosService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.InventariosService.IInventariosService" name="WSHttpBinding_IInventariosService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Nomina-->
      <endpoint address="http://192.168.0.20:2550/NominaService/NominaService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INominaService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.NominaService.INominaService" name="WSHttpBinding_INominaService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--Proveedores-->
      <endpoint address="http://192.168.0.20:2550/ProveedoresService/ProveedoresService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProveedoresService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ProveedoresService.IProveedoresService" name="WSHttpBinding_IProveedoresService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
      <!--OpConjuntas-->
      <endpoint address="http://192.168.0.20:2550/OpConjuntasService/OpConjuntasService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOpConjuntasService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.OpConjuntasService.IOpConjuntasService" name="WSHttpBinding_IOpConjuntasService">
        <identity>
          <dns value="192.168.0.20" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="100000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
