<div id="logout-window" style="display: none;">
    <h3>La sesión ha expirado</h3>
    <p>Su sesión ha expirado por inactividad en el sistema. Por favor <a href="@(Url.Action("Login", "Account"))">inicie sesión</a> nuevamente.</p>
</div>
    
<div id="error-window" style="display: none;">
    <h3>Error</h3>
    <p id="error-message"></p>
</div>
    
<div id="information-window" style="display: none;">
    <h3>Información</h3>
    <p id="information-message"></p>
</div>

<div id="confirmation-window" style="display: none;">
    <h3 id="confirm-title"></h3>
    <p id="confirm-message"></p>
    <button id="confirm-cancel" class="btn btn-danger">Cancelar</button>
    <button id="confirm-accept" class="btn btn-danger">Aceptar</button>
</div>
