<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Quantum" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Version" value="1.4.4.1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServiceName" value="NewAge Quantum" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- Server Configuration -->
    <add key="Server.Name" value="192.168.22.176" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Server.DB.Connection" value="Server=192.168.22.176;Database=NewAge;User Id=sa;Password=quantum2015; Encrypt=true; TrustServerCertificate=True;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.serviceModel>
    <client>
      <!--Logger-->
      <endpoint address="http://192.168.22.176:2550/LoggerService/LoggerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoggerService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Logger.Service.ILoggerService" name="WSHttpBinding_ILoggerService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Reportes-->
      <endpoint address="http://192.168.22.176:2550/ReportesService/ReportesService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportesService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ReportesService.IReportesService" name="WSHttpBinding_IReportesService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Master-->
      <endpoint address="http://192.168.22.176:2550/MasterService/MasterService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMasterService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.MasterService.IMasterService" name="WSHttpBinding_IMasterService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--App-->
      <endpoint address="http://192.168.22.176:2550/AppService/AppService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAppService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.AppService.IAppService" name="WSHttpBinding_IAppService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Global-->
      <endpoint address="http://192.168.22.176:2550/GlobalService/GlobalService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGlobalService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.GlobalService.IGlobalService" name="WSHttpBinding_IGlobalService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Activos-->
      <endpoint address="http://192.168.22.176:2550/ActivosService/ActivosService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActivosService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ActivosService.IActivosService" name="WSHttpBinding_IActivosService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Cartera-->
      <endpoint address="http://192.168.22.176:2550/CarteraService/CarteraService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICarteraService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.CarteraService.ICarteraService" name="WSHttpBinding_ICarteraService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Contabilidad-->
      <endpoint address="http://192.168.22.176:2550/ContabilidadService/ContabilidadService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContabilidadService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ContabilidadService.IContabilidadService" name="WSHttpBinding_IContabilidadService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--CxP-->
      <endpoint address="http://192.168.22.176:2550/CFTService/CFTService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICFTService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.CFTService.ICFTService" name="WSHttpBinding_ICFTService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Inventarios-->
      <endpoint address="http://192.168.22.176:2550/InventariosService/InventariosService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInventariosService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.InventariosService.IInventariosService" name="WSHttpBinding_IInventariosService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Nomina-->
      <endpoint address="http://192.168.22.176:2550/NominaService/NominaService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INominaService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.NominaService.INominaService" name="WSHttpBinding_INominaService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--Proveedores-->
      <endpoint address="http://192.168.22.176:2550/ProveedoresService/ProveedoresService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProveedoresService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.ProveedoresService.IProveedoresService" name="WSHttpBinding_IProveedoresService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <!--OpConjuntas-->
      <endpoint address="http://192.168.22.176:2550/OpConjuntasService/OpConjuntasService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOpConjuntasService" behaviorConfiguration="ServiceBehavior" contract="NewAge.Server.OpConjuntasService.IOpConjuntasService" name="WSHttpBinding_IOpConjuntasService" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
    </client>
  </system.serviceModel>
</configuration>